
body {
  font-family: Arial;
  padding: 2em;
  background: #f9f9f9;
}
h1 {
  color: #ff6600;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
input, select, button {
  margin-bottom: 12px;
  padding: 10px;
}
#preview {
  margin-top: 30px;
  padding: 1em;
  border: 1px solid #ccc;
}
